<aside class="sidebar z-10">
    <section class="sidebar-section">
        <div class="logo">
            <i class="fa-solid fa-blog"></i>
        </div>
        <a href="/" class="btn btn-ghost icon">
            <i class="fa-solid fa-house"></i>
            <span class="badge">Home</span>
        </a>
        <a href="/post/create" class="btn btn-ghost icon">
            <i class="fa-solid fa-folder-plus"></i>
            <span class="badge">Create post</span>
        </a>
        <a href="/user" class="btn btn-ghost icon">
            <i class="fa-solid fa-user"></i>
            <span class="badge">Account</span>
        </a>
        <a href="/logout" class="btn btn-ghost icon">
            <i class="fa-solid fa-right-from-bracket"></i>
            <span class="badge">Logout</span>
        </a>
    </section>

    <section class="sidebar-section">
        <button id="toggle-theme-switch" class="btn btn-ghost icon">
            <i id="theme-icon" class="fas"></i>
        </button>
    </section>
    <script src="/public/js/toggleTheme.js"></script>
</aside>