<!DOCTYPE html>
<html lang="en" class="dark">
    <head>
        <title>NodeBlog - Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/public/css/output.css" rel="stylesheet">
        <link href="/public/css/app.css" rel="stylesheet">
        <link href="/assets/tailwindcss/tailwind.min.css" rel="stylesheet">
        <link href="/assets/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
        <base href="/public/image/">
    </head>
    <body class="flex items-center justify-center bg-mountain">
        <div class="card bg-card-blur w-[450px] mx-auto mt-6">
            <div class="card-content">
                <h1 class="relative text-2xl font-extrabold flex items-center justify-center mb-2 h-10 tracking-wider">
                    Welcome
                </h1>
                <% if (message) { %>
                    <span class="text-red-500 font-bold"><%= message %></span>
                <% } %>
                <form action="/login" method="post">
                    <div class="my-8">
                        <label for="email" class="my-3">Email</label>
                        <input type="email" name="email" id="email" class="input-outline w-full" placeholder="Enter your email">
                    </div>
                    <div class="my-8">
                        <label for="password" class="my-3">Password</label>
                        <input type="password" name="password" id="password" class="input-outline w-full" placeholder="Enter your password">
                    </div>
                    <div class="my-8 flex items-center justify-between">
                        <label for="remember_me" class="flex items-center gap-2 relative">
                            <input type="checkbox" name="remember_me" id="remember_me" class="input-checkbox">
                            <i class="fas fa-check"></i>
                            Remember me
                        </label>
                        <a href="/" class="link">Forgot password?</a>
                    </div>
                    <button type="submit" class="btn btn-primary w-full mt-2">Log In</button>
                </form>
                <p class="text-center mt-8">
                    Don't have an account? <a href="/signup" class="link">Register</a>
                </p>
            </div>
        </div>
    </body>   
</html>
